# Ignore temporary files.
docs/augs/
docs/doku.synctex.gz
docs/doku.pdf
docs/_minted-doku

# Python
.venv/

# Vagrant
.vagrant

# Ignore Latex temporary files:
doku.*

# Ignore binary files
resources/